# Name and Path of this Script ############################### (DO NOT change!)
export PIC_PROFILE=$(cd $(dirname $BASH_SOURCE) && pwd)"/"$(basename $BASH_SOURCE)

# User Information ######################################### (edit those lines)
#   - automatically add your name and contact to output file meta data
#   - send me mails on batch system job (b)egin, (e)nd, (a)bortion or (n)o mail
export MY_MAILNOTIFY="n"
export MY_MAIL="someone@example.com"
export MY_NAME="$(whoami) <$MY_MAIL>"

# Text Editor for Tools ###################################### (edit this line)
#   - examples: "nano", "vim", "emacs -nw", "vi" or without terminal: "gedit"
#export EDITOR="nano"

# Software Environment ########################################################
#
export GCC_ROOT=/octfs/apl/gcc/4.9.4/
export CC=$GCC_ROOT/bin/gcc
export CXX=$GCC_ROOT/bin/g++

export CUDA_ROOT=/octfs/apl/CUDA/cuda-9.0/
# needs to be downloaded/compiled by the user
export CMAKE_ROOT=$HOME/lib/cmake-3.10.2
export ZLIB_ROOT=$HOME/lib/zlib-1.2.11
# note: system has MVAPICH2 2.2.2
export MPI_ROOT=$HOME/lib/openmpi-2.1.2
export BOOST_ROOT=$HOME/lib/boost-1.65.1
export PNG_ROOT=$HOME/lib/libpng-1.6.34
export PNGwriter_DIR=$HOME/lib/pngwriter-0.7.0
export HDF5_ROOT=$HOME/lib/hdf5-1.8.20
export Splash_DIR=$HOME/lib/splash-1.7.0

export LD_LIBRARY_PATH=$GCC_ROOT/lib64:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$ZLIB_ROOT/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$MPI_ROOT/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$BOOST_ROOT/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$PNG_ROOT/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$PNGwriter_DIR/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$HDF5_ROOT/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=$Splash_DIR/lib:$LD_LIBRARY_PATH

export PATH=$GCC_ROOT/bin:$PATH
export PATH=$CUDA_ROOT/bin:$PATH
export PATH=$CMAKE_ROOT/bin:$PATH
export PATH=$PNG_ROOT/bin:$PATH

export CMAKE_PREFIX_PATH=$BOOST_ROOT:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=$ZLIB_ROOT:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=$MPI_ROOT:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=$PNG_ROOT:$CMAKE_PREFIX_PATH
export CMAKE_PREFIX_PATH=$HDF5_ROOT:$CMAKE_PREFIX_PATH

# Environment #################################################################
#
# see: qstat -Qe
alias getNode='qsub -I -q OCTOPUS -l elapstim_req=0:30:00,gpunum_job=4'

export PICSRC=$HOME/src/picongpu
export PIC_EXAMPLES=$PICSRC/share/picongpu/examples
export PIC_BACKEND="cuda:60"

export PATH=$PATH:$PICSRC
export PATH=$PATH:$PICSRC/bin
export PATH=$PATH:$PICSRC/src/splash2txt/build
export PATH=$PATH:$PICSRC/src/tools/bin

export PYTHONPATH=$PICSRC/lib/python:$PYTHONPATH

# "tbg" default options #######################################################
#   - PBS/Torque (qsub)
#   - "k80" queue
export TBG_SUBMIT="qsub"
export TBG_TPLFILE="etc/picongpu/octopus-ou/p100.tpl"
